/*
 * サービス提供状況
 */
 .menu{
  text-align: center;
 }
 .me{
  display: inline;
  float: left;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
 }

/*
 * Login
 */
 .login{
  margin: 50px;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
 }
 .idpass{
  margin: 0px;
  width: 100px;
  float: left;
 }
 .idpass-p{
  padding: 0px;
  padding-top: 3px;
  height: 30px;
 }
 .idpass-i{
  width: 200px;
 }
 .idpass-b{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 300px;
 }
 .but{
  margin-right: 30px;
  margin-left: 30px;
  display: block;
  padding: 10px;
  width: 100px;
  text-align: center;
 }

 /*左ナビ下部*/
 .navbtm{
  margin-bottom: 400px;
 }
